body {
  /* General styles for body element */
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: white; /* Light theme background */
  color: black; /* Light theme text color */
}

/* ... Rest of the existing styles ... */

/* Slideshow styles for mobile devices */
.project-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.project {
  flex: 0 0 80%;
  margin: 0 10px;
  scroll-snap-align: start;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .App-header {
    font-size: calc(10px + 1.5vmin); /* Reduce font size for smaller screens */
  }

  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust grid layout */
    grid-gap: 0.5rem; /* Reduce grid gap */
  }

  .project-slider {
    flex-wrap: nowrap;
  }

  .project {
    flex: 0 0 70%;
  }
}
