@font-face {
  font-family: 'Myriad Pro Regular';
  src: url('./Fonts/Myriad Pro Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro Light';
  src: url('./Fonts/Myriad Pro Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Garamond Light';
  src: url('./Fonts/Garamond-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

aqua-tab {
  background-image: linear-gradient(#79bbff 30%, #c4e8ff 85%);
}


.PageSwitcher {
  display: flex;
  justify-content: center;
}

.PageSwitcher a {
  display: inline-block;
  height: 60px;
  color: #000;
  background-image: linear-gradient(#e0e0e0 52%, #fff 85%);
  border-bottom: 0 #a1a1a1; /* Is this intentional? It looks like an incomplete border property */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  text-decoration: none;
  transition: all .2s;
  position: relative;
  bottom: 0;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, .31);
  display: flex;
  
}

.PageSwitcher #Button-Active {
  background-image: linear-gradient(#79bbff 30%, #c4e8ff 85%);
}


.glosseffect {
  width: 95%;
  height: 50%;
  opacity: 1;
  background-image: linear-gradient(to top, rgba(255, 255, 255, .3), rgba(255, 255, 255, .84));
  border-top: 2px solid #fff;
  border-radius: 10px 10px 0 0;
  position: absolute;
  top: 2%;
  left: 2.5%;
}
  

h1, h2, h3 {
  font-family: 'Myriad Pro Regular', sans-serif;
  color: black;
}

body {
  font-family: 'Myriad Pro regular', sans-serif;
  margin: 0;
  padding: 0;
  color: #7D7D7D;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.025),
    rgba(0, 0, 0, 0.025) 2px,
    #fff 2px,
    #fff
 );
 /* The rectangle in which to repeat. 
 It can be fully wide in this case */
 background-size: 100% 4px;
}

img {
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


.pfp-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}


/* Slideshow styles for mobile devices */
.project-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.project {
  flex: 0 0 80%;
  margin: 0 10px;
  scroll-snap-align: start;
}

.pfp, .header  {
  display: inline-block;
  margin: 0; /* Reset margins */
}

.footer {
  display: flex;
  justify-content: space-between;
}



#madeby, #copyright {
  display: inline-block;
  margin: 0; /* Reset margins */
}


.contact {
  align-content: center;
}




.header-Contact p {
  margin: 0; /* Remove default margin for paragraphs inside Contact */
}




/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .header {
    font-size: calc(10px + 1.5vmin);
  }

  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 0.5rem;
  }

  .project-slider {
    flex-wrap: nowrap;
  }
  .PageSwitcher a {
    width: 100%;
  }
  body {
    padding: 15px 50px;
  }
}

/* Responsive adjustments for larger screens (desktop) */
@media (min-width: 769px) {
  body {
    padding: 40px 250px;
  }
  .PageSwitcher a {
    width: 100%;
  }
}
