@font-face {
  font-family: "Garamond-Light";
  src: url("./Fonts/Garamond-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Myriad Pro Regular";
  src: url("./Fonts/Myriad Pro Regular.ttf") format("truetype");
}

@font-face {
  font-family: "HaloHandletter";
  src: url("./Fonts/HaloHandletter.otf") format("opentype");
}

html {
  scroll-padding-top: 92px;
}

body {
  margin: 0;
  font-family: "Myriad Pro Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
