body {
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  
  .osx-menu-bar {
    display: flex;
    align-items: center;
    background-color: #f0f0f0; /* Set your desired background color */
    width: 100vw; /* Make the menu bar span the full width of the viewport */
  }
  
  .menu-content {
    padding: 10px;
    width: 100%; /* Ensure content width is 100% */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .apple-logo {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    margin-right: 10px;
  }
  
  .pfp {
    margin-left: auto; /* Push the profile picture to the right */
  }
  
  #header {
    display: flex;
    gap: 20px;
  }
  
  #header a {
    text-decoration: none;
    color: #333; /* Set your desired text color */
    font-size: 16px; /* Set your desired font size */
  }
  
  #header p {
    margin: 0;
  }
  