  
  
  .arrow {
    width: 15vw;
    height: 15vw;
    margin-left: 10px;
    margin-right: 10px;
    background-image: linear-gradient(#cacaca, #fff 85%);
    transition: all 0.2s;
    position: relative;
    transform: none;
    box-shadow: 0 3px 4px -1px rgba(0, 0, 0, 0.64),
      inset 0 -3px 5px rgba(0, 0, 0, 0.38);
    background-color: #f8f8f8;
    border-radius: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;

  }

.left-arrow, .right-arrow {
  cursor: pointer;
  color: #fff;
  font-size: 40px;
}
.w-slider {
  text-align: center;
}

.div-block-64 {
  width: 70%;
  position: absolute;
  top: 0.05vw;
  bottom: auto;
  left: 15%;
  right: 0%;
}

section {
  display: block;
}
.left-arrow,
.right-arrow {
  cursor: pointer;
  color: #fff;
  font-size: 40px;
}
.w-slider {
  text-align: center;
}

.left-arrow {
  order: -1;
}

.right-arrow {
  order: 1;
}
